
/* 
    Author : Alexandre Gbamele
    Object : creation de connexion
*/
*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: red solid 2px;
    padding-left: 250px;
    margin-top: 50px;
    

}


/* left part */
.left-part{
    border: red solid 2px;
    padding: 10px;
    background-color: gainsboro;
    height: 400px;
    align-items: center;
    width: 350px;
    float: left;
    
}

/* right part */
.right-part{
    border: red solid 2px;
    padding: 10px;
    background-color: blueviolet;
    height: 400px;
    align-items: center;
    width: 350px;
}

.text-align{
    text-align: center;
    
}
form{
    padding: 20px;
}
input{
    width: 100%;
    margin: 15px;
}
#login{
    background-color: blueviolet;
    width: 100%;
}
.content{
    padding: 20px;
    
}